In [100]:
import pandas as pd

In [102]:
df = pd.read_csv('unemployment.csv')

In [104]:
print("Dataset Summary:")
print("Number of Rows:", df.shape[0])
print("Number of Columns:", df.shape[1])

Dataset Summary:
Number of Rows: 754
Number of Columns: 7

In [106]:
df.head()

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Area
0,Andhra Pradesh,31-05-2019,Monthly,3.65,11999139.0,43.24,Rural
1,Andhra Pradesh,30-06-2019,Monthly,3.05,11755881.0,42.05,Rural
2,Andhra Pradesh,31-07-2019,Monthly,3.75,12086707.0,43.50,Rural
3,Andhra Pradesh,31-08-2019,Monthly,3.32,12285693.0,43.97,Rural
4,Andhra Pradesh,30-09-2019,Monthly,5.17,12256762.0,44.68,Rural

In [108]:
df.tail()

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Area
749,West Bengal,29-02-2020,Monthly,7.55,10871168.0,44.09,Urban
750,West Bengal,31-03-2020,Monthly,6.67,10806105.0,43.34,Urban
751,West Bengal,30-04-2020,Monthly,15.63,9299466.0,41.20,Urban
752,West Bengal,31-05-2020,Monthly,15.22,9240903.0,40.67,Urban
753,West Bengal,30-06-2020,Monthly,9.86,9088931.0,37.57,Urban

### data exploration

In [111]:
df.describe()

,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%)
count,740.000000,7.400000e+02,740.000000
mean,11.787946,7.204460e+06,42.630122
std,10.721298,8.087988e+06,8.111094
min,0.000000,4.942000e+04,13.330000
25%,4.657500,1.190404e+06,38.062500
50%,8.350000,4.744178e+06,41.160000
75%,15.887500,1.127549e+07,45.505000
max,76.740000,4.577751e+07,72.570000

In [113]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 754 entries, 0 to 753
Data columns (total 7 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Region                                    740 non-null    object
 1    Date                                     740 non-null    object
 2    Frequency                                740 non-null    object
 3    Estimated Unemployment Rate (%)          740 non-null    float64
 4    Estimated Employed                       740 non-null    float64
 5    Estimated Labour Participation Rate (%)  740 non-null    float64
 6   Area                                      740 non-null    object
dtypes: float64(3), object(4)
memory usage: 41.4+ KB

## Handling missing values
Check for missing values

In [116]:
print("\nMissing values:")
print(df.isnull().sum())

Missing values:
Region                                      14
 Date                                       14
 Frequency                                  14
 Estimated Unemployment Rate (%)            14
 Estimated Employed                         14
 Estimated Labour Participation Rate (%)    14
Area                                        14
dtype: int64

In [118]:
df['Region'].fillna(df['Region'].mode()[0], inplace= True)

C:\Users\PMLS\AppData\Local\Temp\ipykernel_6484\2355148866.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Region'].fillna(df['Region'].mode()[0], inplace= True)

In [120]:
df['Area'].fillna(df['Area'].mode()[0], inplace= True)

C:\Users\PMLS\AppData\Local\Temp\ipykernel_6484\1440142094.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Area'].fillna(df['Area'].mode()[0], inplace= True)

In [122]:
df[' Frequency'].fillna(df[' Frequency'].mode()[0], inplace= True)

C:\Users\PMLS\AppData\Local\Temp\ipykernel_6484\3014468785.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[' Frequency'].fillna(df[' Frequency'].mode()[0], inplace= True)

In [124]:
df[' Date'].fillna(df[' Date'].mode()[0], inplace= True)

C:\Users\PMLS\AppData\Local\Temp\ipykernel_6484\4198330893.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[' Date'].fillna(df[' Date'].mode()[0], inplace= True)

In [126]:
df[' Estimated Unemployment Rate (%)'].fillna(df[' Estimated Unemployment Rate (%)'].mean(), inplace= True)

C:\Users\PMLS\AppData\Local\Temp\ipykernel_6484\3358942475.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[' Estimated Unemployment Rate (%)'].fillna(df[' Estimated Unemployment Rate (%)'].mean(), inplace= True)

In [128]:
df[' Estimated Employed'].fillna(df[' Estimated Employed'].mean(), inplace= True)

C:\Users\PMLS\AppData\Local\Temp\ipykernel_6484\2979373209.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[' Estimated Employed'].fillna(df[' Estimated Employed'].mean(), inplace= True)

In [130]:
df[' Estimated Labour Participation Rate (%)'].fillna(df[' Estimated Labour Participation Rate (%)'].mean(), inplace= True)

C:\Users\PMLS\AppData\Local\Temp\ipykernel_6484\960826842.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[' Estimated Labour Participation Rate (%)'].fillna(df[' Estimated Labour Participation Rate (%)'].mean(), inplace= True)

In [132]:
df.isnull().sum()

Region                                      0
 Date                                       0
 Frequency                                  0
 Estimated Unemployment Rate (%)            0
 Estimated Employed                         0
 Estimated Labour Participation Rate (%)    0
Area                                        0
dtype: int64

### Handling duplicate records

Check for duplicate records

In [136]:
print("\nNumber of duplicate records:", df.duplicated().sum())

Number of duplicate records: 13

### Remove duplicate records

In [139]:
df.drop_duplicates(inplace=True)

## Documenting changes

#### Document all cleaning steps for reproducibility. After performing cleaning steps, you may save the cleaned dataset to a new file.

In [141]:
df.to_csv("cleaned_unemployment.csv", index=False)